<a href="https://colab.research.google.com/github/linaangraeni/List-String-dan-Dictionary-/blob/main/%5BKD0301%5D_List%2C_String_%26_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://drive.google.com/uc?id=1Jnmc3tPdh1jxyNwURPKEqzpM_qdEwaJc
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk program **Kelas Dasar Pejuang Data 2.0** .

Ini adalah **Notebook, List, String, & Dictionary Pada Python**:

## **Hasil Yang Ingin Dicapai**
1. Memahami List Pada Python
2. Mengenal dan memahami method-method pada List Python
3. Memahami String Pada Python
4. Mengenal dan memahami method-method pada String Python
5. Memahami Dictionary Pada Python
6. Mengenal dan memahami method-method pada Dictionary Python

# **List Pada Python**
List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

## Membuat List

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf']

In [1]:
sayur = ["sop ayam","sayur asem","pakcoy"]
print(sayur)

['sop ayam', 'sayur asem', 'pakcoy']

## Mengakses elemen List

Menampilkan elemen
caranya dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[0:3:2])
print(matkul[-2])
print(matkul[-4:-1])

metnum
['metnum', 'graph']
['fuzzy', 'metnum']
metnum
['fuzzy', 'pdp', 'metnum']

In [2]:
sayur = ["kol", "pakcoy", "wortel" , "tomat"]
print(sayur[3])
print(sayur[3:])
print(sayur[0:3:1])
print(sayur[-3])
print(sayur[-3:-1])

tomat
['tomat']
['kol', 'pakcoy', 'wortel']
pakcoy
['pakcoy', 'wortel']

## Mengubah elemen List

cara mengubah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf" , "sisdim"]
matkul[3] = "aktuaria"
print(matkul)

['fuzzy', 'pdp', 'metnum', 'aktuaria', 'sisdim']

In [3]:
fruits = ["grape", "apple", "lemon" , "orange" , "starfruits"]
fruits[0] = "pineapple"
print(fruits)

['pineapple', 'apple', 'lemon', 'orange', 'starfruits']

## Looping di dalam List

looping pada list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]

for x in matkul:
  print(x)

fuzzy
pdp
metnum
graf

In [5]:
makan_siang_apa = ["geprek", "soto", "tumini" , "pecel"]

for x in makan_siang_apa:
  print(x)

geprek
soto
tumini
pecel

## Cek elemen pada List

cara mengecek apakah suatu elemen berada dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
if "fuzzy" in matkul:
  print('fuzzy termasuk matkul')

fuzzy termasuk matkul

In [6]:
minum = ["esque", "chattime", "sususarjana" , "dum"]
if "chattime" in minum:
  print('chattime termasuk minum')

chattime termasuk minum

## Menghitung jumlah elemen List

cara mengetahui jumlah elemen dalam list

In [ ]:
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
print(len(matkul))

4

In [8]:
sarapan = ["soto", "gudeg", "indomie" , "salad","pecel","cake"]
print(len(sarapan))

6

# **Berbagai Method untuk List pada Python**

## Menambah elemen List

cara menambahkan elemen dalam list
ada 2 cara untuk menambahkan elemen pada list, yaitu;
1. menggunakan metode append()
2. menggunakan metode insert()

In [ ]:
#metode append : menambahkan elemen pada baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.append("anreg")
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 'anreg']

In [12]:
#metode append : menambahkan elemen pada baris terakhir
cake = ["rainbow", "redvelvet", "blackforest" , "marble","roll","brownies"]
cake.append("cheese")
print(cake)

['rainbow', 'redvelvet', 'blackforest', 'marble', 'roll', 'brownies', 'cheese']

In [ ]:
#metode insert : memasukkan elemen pada baris tertentu
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.insert(1, 'anriil')
print(matkul)

['fuzzy', 'anriil', 'pdp', 'metnum', 'graf']

In [14]:
#metode insert : memasukkan elemen pada baris tertentu
sayur = ["wortel", "tomat", "pakcoy" , "jagung","brokoli"]
sayur.insert(2, 'mentimun')
print(sayur)

['wortel', 'tomat', 'mentimun', 'pakcoy', 'jagung', 'brokoli']

## Menghapus elemen List

menghapus elemen dalam list
ada beberapa cara untuk menghapus elemen
1. menggunakan keyword del
2. menggunakan metode remove()
3. menggunakan metode pop()
4. menggunakan metode clear()

In [ ]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul[3]
print(matkul)
matkul1 = ["fuzzy", "pdp", "metnum" , "graf"]
del matkul

['fuzzy', 'pdp', 'metnum']

In [15]:
#menggunakan keyword del,(bukan hanya bisa menghapus elemen tapi bisa juga untuk mnghapus list)
menu_nasi_padang = ["ayam", "rendang", "ikan" , "cumi"]
del menu_nasi_padang[2]
print(menu_nasi_padang)
menu_nasi_padang1 = ["ayam", "rendang", "ikan" , "cumi"]
del menu_nasi_padang

['ayam', 'rendang', 'cumi']

In [ ]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.remove("fuzzy")
print(matkul)

['pdp', 'metnum', 'graf']

In [16]:
#menggunakan metode remove(): menggunakan remove() harus menyebutkan nama elemennya langsung
makanan = ["padang", "naskun", "pecel" , "geprek"]
makanan.remove("pecel")
print(makanan)

['padang', 'naskun', 'geprek']

In [ ]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.pop(2)
matkul.pop()
print(matkul)

['fuzzy', 'pdp']

In [17]:
#menggunakan metode pop(a): menghapus elemen baris ke-a atau baris terakhir
mie_instant = ["indomie", "supermie", "sedap" , "sarimi"]
mie_instant.pop(2)
mie_instant.pop()
print(mie_instant)

['indomie', 'supermie']

In [ ]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matkul.clear()
print(matkul)

[]

In [18]:
#menggunakan metode clear(): menghapus seluruh elemen pada list
sayur = ["tomat", "mentimun", "wortel" , "kangkung"]
sayur.clear()
print(sayur)

[]

## Mengkopi List

copy list
ada 2 cara untuk copy list
1. menggunakan metode copy()
2. menggunakan metode list()

In [ ]:
#menggunakan metode copy()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = matkul.copy()
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [20]:
#menggunakan metode copy()
artis = ["lucinta", "luna", "sudah" , "bebas"]
sensasi = artis.copy()
print(sensasi)

['lucinta', 'luna', 'sudah', 'bebas']

In [ ]:
#menggunakan metode list()
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
matlah = list(matkul)
print(matlah)

['fuzzy', 'pdp', 'metnum', 'graf']

In [21]:
#menggunakan metode list()
makan_siang = ["ayam", "geprek", "tumini" , "indomie"]
lunch = list(makan_siang)
print(lunch)

['ayam', 'geprek', 'tumini', 'indomie']

## Menggabung List

cara menggabungkan 2 list
1. menggunakan tanda +
2. menggunakan metode append()
3. menggunakan metode extend()

In [ ]:
#menggnakan tanda +
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

hasil = matkul + angka
print(hasil)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [22]:
#menggnakan tanda +
merk_laptop = ["acer", "asus", "lenovo" , "hp"]
grade = [3, 4, 5, 6]

hasil = merk_laptop + grade
print(hasil)

['acer', 'asus', 'lenovo', 'hp', 3, 4, 5, 6]

In [ ]:
#menggunakan metode append
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

for x in angka:
  matkul.append(x)

print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [23]:
#menggunakan metode append
sapaan = ["hai", "hallo", "oy" , "oioi"]
grade = [6, 7, 8, 9]

for x in grade:
  sapaan.append(x)

print(sapaan)

['hai', 'hallo', 'oy', 'oioi', 6, 7, 8, 9]

In [ ]:
#menggunakan metode extend
matkul = ["fuzzy", "pdp", "metnum" , "graf"]
angka = [1, 2, 3, 4]

matkul.extend(angka)
print(matkul)

['fuzzy', 'pdp', 'metnum', 'graf', 1, 2, 3, 4]

In [25]:
#menggunakan metode extend
kebutuhan_tubuh = ["karbohidrat", "protein", "vitamin" , "mineral"]
grade = [3,4,5,6]

kebutuhan_tubuh.extend(grade)
print(kebutuhan_tubuh)

['karbohidrat', 'protein', 'vitamin', 'mineral', 3, 4, 5, 6]

# **String pada Python**

## *String Literals*
####String literal dalam python diapit oleh tanda kutip tunggal, atau tanda kutip ganda
####'Buku' = "Buku" dalam python ini sama saja
####Anda dapat menampilkan literal string dengan fungsi print ():

In [ ]:
#Contoh :
print("Hello")
print('Hello')

Hello
Hello

Expected output:
```
Hello
Hello
```

In [26]:
#Mulai Program mu....^_^
print("assalamualaikum")
print('assalamualaikum')

assalamualaikum
assalamualaikum

## *Assign String to a Variable*
####Menetapkan string ke variabel dilakukan dengan nama variabel diikuti dengan tanda sama dengan dan stringnya:

In [ ]:
#Contoh
a = "Hello"
print(a)

Hello

Expected output:
```
Hello
```
Penjelasan :
a adalah variabel
kemudian diikuti tanda samadengan =
kemudian masukkan nilai berupa string yaitu "Hello"

In [28]:
#Mulai Program mu....^_^
l = "lina angraeni"
print(l)

lina angraeni

## *Multiline Strings*
####Kita dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip:

In [ ]:
#Contoh 1
a = '''PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.'''
print(a)

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

```

In [29]:
#Mulai Program mu....^_^
l = '''Lina Angraeni adalah anak dari Bp Rasiyono
dan Ibu Yuniarti yang paling cantik
Karena anaknya cuma satu, ya paling cantik lah, gimana kau ini.'''
print(l)

Lina Angraeni adalah anak dari Bp Rasiyono
dan Ibu Yuniarti yang paling cantik
Karena anaknya cuma satu, ya paling cantik lah, gimana kau ini.

Kita bisa juga menggunakan double tanda kutip, misal : ```"""stringnya"""```

In [ ]:
#Contoh 2
a = """PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika."""
print(a)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.

Expected output:
```
PSDS adalah kelompok studi Data Science
yang dibentuk oleh mahasiswa
program studi Matematika.
```

Penjelasan : jeda baris disisipkan pada posisi yang sama seperti pada kode.

In [31]:
#Mulai Program mu....^_^
l = """follow instagramku @linangra_ yow
nanti ku follback nek ra lali
haha canda, jangan serius serius tar cepet tua mau po, santuy aja ngoghey."""
print(l)
#Hasilnya, jeda baris disisipkan pada posisi yang sama seperti pada kode.

follow instagramku @linangra_ yow
nanti ku follback nek ra lali
haha canda, jangan serius serius tar cepet tua mau po, santuy aja ngoghey.

## *Strings are Arrays*
####Seperti banyak bahasa pemrograman populer lainnya, string dalam Python adalah array byte yang mewakili karakter unicode.
####Namun, Python tidak memiliki tipe data karakter, satu karakter hanyalah string dengan panjang 1
####Tanda kurung siku dapat digunakan untuk mengakses elemen string.

In [ ]:
#Contoh
a = "Hello, World!"
print(a[1])

e

Expected output:
```
e
```
Penjelasan : Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [32]:
#Mulai Program mu....^_^
g = "tak critain tapi jangan dikasih tau ke siapa-siapa lho"
print(g[6])

i

## *Slicing*
####Anda dapat mengembalikan berbagai karakter dengan menggunakan sintaksis slice.
####Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [ ]:
#Contoh :
b = "Hello, World!"
print(b[2:5])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

llo

Expected output:
```
llo
```

In [44]:
#Mulai Program mu....^_^
i = "linaangra"
print(i[1:3])
#Dapatkan karakter dari posisi 2 ke posisi 5 (tidak termasuk):

in

## *Negative Indexing*
Gunakan indeks negatif untuk memulai potongan dari ujung string:

In [ ]:
#Contoh
b = "Hello, World!"
print(b[-5:-2])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

orl

Expected output:
```
orl
```

In [34]:
#Mulai Program mu....^_^
u = "assalamualaikum sayang"
print(u[-6:-3])
#Dapatkan karakter dari posisi 5 ke posisi 1 (tidak termasuk), mulai hitungan dari akhir string:

say

In [ ]:
#Contoh
a = "Hello, World!"
print(len(a))
#Fungsi len () mengembalikan panjang string:

13

Expected Output :
```
13
```

In [43]:
#Mulai Program mu....^_^
l = "semangat y"
print(len(l))
#Fungsi len () mengembalikan panjang string:

10

## *Check String*
Untuk memeriksa apakah frase atau karakter tertentu ada dalam sebuah string, kita dapat menggunakan kata kunci in atau not in

In [ ]:
#Contoh 1
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" in txt
print(x)

True

Expected Output :
```
True
```

In [37]:
#Mulai Program mu....^_^
#Periksa apakah frase "ain" ada dalam teks berikut:
txt = "tidakkah cukup yang engkau lihat pertemanan ini sungguh berat"
l = "kah" in txt
print(l)

True

In [ ]:
#Contoh
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "Hujan di Spanyol umumnya tetap di dataran"
x = "jan" not in txt
print(x)

False

Expected Output :
```
False
```

In [38]:
#Mulai Program mu....^_^
#Periksa apakah frase "ain" TIDAK ada dalam teks berikut:
txt = "bukankah indah bila kita bersama tapi tidak dimimpi saja"
c = "kah" not in txt
print(c)

False

## *String Concatenation*
Untuk menggabungkan, atau menggabungkan, dua string Anda dapat menggunakan operator +.

In [ ]:
#Contoh
#Gabungkan variabel a dengan variabel b menjadi variabel c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Output :
```
HelloWorld
```

In [41]:
#Mulai Program mu....^_^
#Gabungkan variabel a dengan variabel b menjadi variabel c
l = "singkat"
f = "jelas"
m = l + f
print(m)

singkatjelas

In [ ]:
#Contoh
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Output :
```
Hello World
```

In [40]:
#Mulai Program mu....
#Untuk menambahkan spasi di antara keduanya, tambahkan " ":
l = "singkat"
g = "padat"
s = l + " " + g
print(s)

singkat padat

##**String Format**
####Seperti yang kita pelajari di bab Variabel Python, kita tidak bisa menggabungkan string dan angka seperti ini:

In [ ]:
#Contoh
umur = "20"
txt = "Nama saya Mujhid, saya " + umur
print(txt)

Nama saya Mujhid, saya 20

Output :
```
Nama saya Mujhid, saya 20
```

In [48]:
hobby = "sayang kedua orangtuaku"
txt = "Aku lina, aku " + hobby
print(txt)

Aku lina, aku sayang kedua orangtuaku

Tapi kita bisa menggabungkan string dan angka dengan menggunakan metode format ()!

Metode format () mengambil argumen yang diteruskan, memformatnya, dan menempatkannya dalam string di mana placeholder {} berada:

# *Berbagai Method untuk String pada Python*

Python memiliki seperangkat metode bawaan yang dapat Anda gunakan pada string.

### Strip()

Method strip() berfungsi untuk menghapus spasi apa pun dari awal atau akhir

In [ ]:
#Contoh
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Output :
```
Hello, World!
```

In [46]:
#Mulai Program Mu....
a = " kusuka dirinya mungkin aku sayang namun apakah mungkin kau menjadi milikku "
print(a.strip()) # returns "kusuka dirinya mungkin aku sayang namun apakah mungkin kau menjadi milikku"

kusuka dirinya mungkin aku sayang namun apakah mungkin kau menjadi milikku

###Lower()
#####Metode lower () mengembalikan string dalam huruf kecil:

In [ ]:
#Contoh
a = "HELLO, World!"
print(a.lower())

hello, world!

Output :
```
hello, world!
```

In [49]:
l = "astaghfirullah"
print(l.lower())

astaghfirullah

###Upper()
#####Metode upper() mengembalikan string dalam huruf besar:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Output :
```
HELLO, WORLD!
```

In [51]:
y = "boyokku pegel :("
print(y.upper())

BOYOKKU PEGEL :(

###Replace()
#####Metode replace () menggantikan string dengan string lain:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Output :
```
Jello, World!
```

In [54]:
l = "anta ka loro hahaha"
print(l.replace("a", "u"))

untu ku loro huhuhu

###Split()
#####Metode split () membagi string menjadi beberapa substring jika menemukan contoh pemisah:

In [ ]:
#Contoh
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Output :
```
['Hello', ' World!']
```

In [55]:
l = "assalamualaikum sayangku"
print(l.split(",")) # returns ['assalamualaikum', ' sayangku']

['assalamualaikum sayangku']

###Capitalize()
#####Metode capitalize () menggantikan karakter pertama menjadi huruf apital

In [ ]:
#Contoh
a = "hello, world"
print(a.capitalize())

Hello, world

Output :
```
Hello, world
```

In [56]:
g = "assalamualaikum tugas ku sayang"
print(g.capitalize())

Assalamualaikum tugas ku sayang

###Casefold()
#####Metode casefold () Mengubah string menjadi huruf kecil

In [ ]:
#Contoh
a = "Hello, World"
print(a.casefold())

hello, world

In [57]:
s = "boyokku loro serius (':"
print(s.casefold())

boyokku loro serius (':

###Count()
#####Metode count () Mengembalikan frekuensi nilai yang ditentukan muncul dalam string

In [ ]:
# definiskan string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 2

Output :
```
Jumlah : 2
```

In [58]:
# definiskan string
string = "layangan sing tatas tanda tresnoku wes pungkas mabur duwur ngalang-alang yen tibo dadi kenangan"
substring = "tatas"

count = string.count(substring)

# print count
print("Jumlah :", count)

Jumlah : 1

###Encode()
#####Metode encode () mengembalikan string yang berada di tengah

In [ ]:
a = "My name is Mujhid"

x = a.encode()

print(x)

b'My name is Mujhid'

In [59]:
l = "Jajan yok"

g = l.encode()

print(g)

b'Jajan yok'

###Swapcase()
#####Metode swapcase () untuk menukar kasus, huruf kecil menjadi huruf besar dan sebaliknya

In [ ]:
a = "My Name is Mujhid"

x = a.swapcase()

print(x)

mY nAME IS mUJHID

Output :
```
mY nAME IS mUJHID
```

In [60]:
x = "tresno ning njero dada sing tak jaluk imbangono"

y = x.swapcase()

print(x)

tresno ning njero dada sing tak jaluk imbangono



---


# **Dictionary Pada Python**


---


Berbeda dengan List dan Tuple, didalam Dictionary Python setiap urutanya berisi key dan value yang bersifat tidak berurutan. 
1. Setiap key dipisahkan dari value-nya oleh titik dua (:)
2. item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. 
3. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

**Contoh 1:**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 'NIM' : 180015065}
print(type(dict))

<class 'dict'>

Yuk coba buat dictionary kamu :)

In [61]:
#Membuat directory
dict= {'Lina' : 'Angraeni' , 'Ramah' : 'Baik' , 'Sholehah' : 'anak' , 'ciapa' : 'ciwwww'}
print(type(dict))

<class 'dict'>

## Mengakses Nilai pada Dictionary
Untuk mengakses elemen Dictionary, dapat menggunakan kurung siku yang berisi key ['key'] untuk mendapatkan value yang diinginkan.

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
print(type(dict))
print("dict['Universitas'] = ", dict['Universitas'])
print("dict['Prodi'] =", dict['Prodi'])
print("dict['Tahun'] =", dict['Tahun'])
print("dict[1800015065] = ", dict[1800015065])

<class 'dict'>
dict['Universitas'] =  UAD
dict['Prodi'] = Matematika
dict['Tahun'] = 2018
dict[1800015065] =  NIM

Nah sekarang coba akses nilai di dictionary kamu, go go go

In [65]:
#Mengakses nilai directory
dict= {'Ku' : 'Ikhlas' , 'Aku' : 'Pasrah' , 'Wes' : 'Tak Ngalah' }
print(type(dict))
print("dict['Ku'] = ", dict['Ku'])
print("dict['Aku'] =", dict['Aku'])
print("dict['Wes'] =", dict['Wes'])

<class 'dict'>
dict['Ku'] =  Ikhlas
dict['Aku'] = Pasrah
dict['Wes'] = Tak Ngalah

## Mengubah Nilai pada Dictionary
Anda dapat memperbarui Dictionary dengan menambahkan entri baru atau pasangan nilai kunci, memodifikasi entri yang ada, atau menghapus entri yang ada

In [68]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict[1800015065] = 'Bukan NIM' #Mengubah entri atau value yang sudah ada
dict['Universitas'] = 'UGM' #Menambah entri atau value
print("dict[1800015065] =", dict[1800015065]);
print("dict['Universitas'] =", dict['Universitas']);

dict[1800015065] = Bukan NIM
dict['Universitas'] = UGM

In [66]:
dict= {'Ice Cream Nasi Padang check' : 'Hari ini' , 'Aku' : 'dan Adikku' , 'Mau' : 'Bikin Ice Cream Rasa Nasi Padang'}
dict['Bikin Ice Cream Rasa Nasi Padang'] = 'Ga Mau' #Mengubah entri atau value yang sudah ada
dict['Ice Cream Nasi Padang check'] = 'Hari ini' #Menambah entri atau value
print("dict['Bikin Ice Cream Rasa Nasi Padang'] =", dict['Bikin Ice Cream Rasa Nasi Padang']);
print("dict['Ice Cream Nasi Padang check'] =", dict['Ice Cream Nasi Padang check']);

dict['Bikin Ice Cream Rasa Nasi Padang'] = Ga Mau
dict['Ice Cream Nasi Padang check'] = Hari ini

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "year" : 2004
}
print(thisdict)

{'brand': 'Toyota', 'model': 'Kijang', 'year': 2004}

In [67]:
thisdict = {
    "merk snack" : "lays",
    "rasa" : "taro",
    "belinya di" : "indo*maret terdekat"
}
print(thisdict)

{'merk snack': 'lays', 'rasa': 'taro', 'belinya di': 'indo*maret terdekat'}

Sekarang sudah tau kan kalo nilai dictionary bisa diubah dan kalian sudah paham kan gimana ngubahnya, yuk dicoba dulu biar makin paham :)

In [73]:
lins= {'Nama' : 'Lina' , 'Alamat' : 'Yogya' , 'Umur' : 20 }
lins['Nama'] = 'Angraeni' 
lins['Alamat'] = 'Bantul' 
print("lins['Nama'] =", lins['Nama']);
print("lins['Alamat'] =", lins['Alamat']);

lins['Nama'] = Angraeni
lins['Alamat'] = Bantul

## Loop Melalui Dictionary

Pada bagian Pengulangan melalui Dictionary, kita dapat melakukan Loop(Pengulangan) melalui Dictionary dengan menggunakan **for** loop.

Saat melakukan pengulangan melalui Dictionary, nilai yang dikembalikan adalah kunci dari Dictionary, tetapi terdapat metode untuk mengembalikan nilai

Sebagai contoh :
Print semua nama kunci dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

**Contoh 2:**

Print semua *nilai* dalam Dictionary satu per satu

In [ ]:
for x in thisdict:
  print(thisdict[x])

Toyota
Kijang
2004

**Contoh 3:**

Kita juga dapat menggunakan **values()** yang merupakan metode untuk mengembalikan nilai Dictionary

In [ ]:
for x in thisdict.values():
  print(x)

Toyota
Kijang
2004

**Contoh 4:**

Ulangi kedua kunci dan nilai, dengan menggunakan metode **items()**:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Toyota
model Kijang
year 2004

Di atas sudah diberikan contoh loop melalui directory menggunakan berbagai cara, sekarang kalian coba biar makin paham

In [74]:
#Loop Melalui Directory
for l in thisdict:
  print(l)

merk snack
rasa
belinya di

In [75]:
for s in thisdict:
  print(thisdict[s])

lays
taro
indo*maret terdekat

In [76]:
for g in thisdict.values():
  print(g)

lays
taro
indo*maret terdekat

In [77]:
for g, s in thisdict.items():
  print(g, s)

merk snack lays
rasa taro
belinya di indo*maret terdekat

## Mengecek keanggotaan suatu key
Untuk menentukan apakah kunci tertentu ada dalam Dictionary gunakan **in** sebagai kunci

**Contoh 6:**

Cek jika "model" terdapat pada Dictionary

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Kijang",
    "tahun" : 2004
}
if "model" in thisdict :
  print("Yes, 'model' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'model' adalah salah satu dari kunci dalam distict dictionary

Sekarang kalian coba deh cek keanggotaan suatu key yang ada di dictionary kalian, siapa tahu bukan merupakan anggota kan, bisa jadi penyusup xixixi

In [78]:
#Mengecek keanggotaan suatu key
thisdict = {
    "merk" : "taro",
    "rasa" : "redvelvet",
    "produksi" :"korea"
}
if "rasa" in thisdict :
  print("Yes, 'rasa' adalah salah satu dari kunci dalam distict dictionary")

Yes, 'rasa' adalah salah satu dari kunci dalam distict dictionary

## Menambah Item

Untuk menambahkan item, kita dapat menggunakan kunci index baru dengan langsung memberikan nilainya. Untuk contohnya, bisa dilihat kode di bawah ini yaa :)

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict['School'] = "DPS School" # Menambah entri baru pada thisdict

print (thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

In [79]:
thisdict = {'Nama': 'Lina', 'Umur': 20, 'Prodi': 'Matematika'}

thisdict['Uniersitas'] = "Ahmad Dahlan" # Menambah entri baru pada thisdict

print (thisdict)

{'Nama': 'Lina', 'Umur': 20, 'Prodi': 'Matematika', 'Uniersitas': 'Ahmad Dahlan'}

Selain menggunakan format di atas, untuk menambahkan item kita juga bisa menggunakan method update().

In [ ]:
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

thisdict.update({"School": "DPS School"}) #Menambah item baru pada thisdict

print(thisdict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'DPS School'}

Nah iya nih dalam menambah item baru pada dictionary bisa dilakukan dengan 2 cara, menurut kalian mudah yang mana, dicoba dulu biar tahu rasanya hohoho

In [81]:
#Menambah item baru pada dictionary
thisdict = {'Nama': 'Angraeni', 'umur': 20, 'hobby': 'masak'}

thisdict.update({"hobby lainnya": "menyayangi kamu"}) #Menambah item baru pada thisdict

print(thisdict)

{'Nama': 'Angraeni', 'umur': 20, 'hobby': 'masak', 'hobby lainnya': 'menyayangi kamu'}

## Menghapus Item

Untuk menghapus item yang ada pada Dictionary, kita bisa menggunakan perintah del, method pop(), method popitem(), dan method clear().

- Fungsi del adalah fungsi untuk menghapus suatu variabel dari memori.

- Method pop() adalah method yang berfungsi untuk mengeluarkan item yang diinginkan dari dictionary.

- Method popitem() adalah method yang digunakan untuk menghapus item yang terakhir.

- Method clear() adalah method yang digunakan untuk mengosongkan dictionary.

In [ ]:
#Menghapus item menggunakan del
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del thisdict["Name"]

print(thisdict)

{'Age': 7, 'Class': 'First'}

In [82]:
#Menghapus item menggunakan del
thisdict = {'nama': 'lina', 'nim': 1800015002, 'hobby': 'masak'}
del thisdict["nim"]

print(thisdict)

{'nama': 'lina', 'hobby': 'masak'}

In [ ]:
#Menghapus item menggunakan method pop()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.pop("Age")

print(thisdict)

{'Name': 'Zara', 'Class': 'First'}

In [83]:
#Menghapus item menggunakan method pop()
thisdict = {'judul lagu': 'friendzone', 'vocal': 'lina', 'music': 'kak seto'}
thisdict.pop("music")

print(thisdict)

{'judul lagu': 'friendzone', 'vocal': 'lina'}

In [ ]:
#Menghapus item menggunakan method popitem()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.popitem()

print(thisdict)

{'Name': 'Zara', 'Age': 7}

In [84]:
#Menghapus item menggunakan method popitem()
thisdict = {'Nama': 'Lina', 'Umur': 20, 'hobby': 'stalk sosmed kamu'}
thisdict.popitem()

print(thisdict)

{'Nama': 'Lina', 'Umur': 20}

In [ ]:
#Menghapus item menggunakan method clear()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
thisdict.clear()

print(thisdict)

{}

In [85]:
#Menghapus item menggunakan method clear()
thisdict = {'hobby': 'masak', 'umur': 20, 'Anak ke': 1}
thisdict.clear()

print(thisdict)

{}

Dan kalo menghapus dictionary ternyata ada 4 cara lohh, pada contoh di atas sudah jelas kan, supaya tambah jelas silahkan dicoba yaa ;)

In [86]:
#Menghapus item menggunakan del
thisdict = {'nama': 'lina', 'nim': 1800015002, 'hobby': 'masak'}
del thisdict["nim"]

print(thisdict)

{'nama': 'lina', 'hobby': 'masak'}

In [87]:
#Menghapus item menggunakan method pop()
thisdict = {'judul lagu': 'friendzone', 'vocal': 'lina', 'music': 'kak seto'}
thisdict.pop("music")

print(thisdict)

{'judul lagu': 'friendzone', 'vocal': 'lina'}

In [88]:
#Menghapus item menggunakan method popitem()
thisdict = {'Nama': 'Lina', 'Umur': 20, 'hobby': 'stalk sosmed kamu'}
thisdict.popitem()

print(thisdict)

{'Nama': 'Lina', 'Umur': 20}

In [89]:
#Menghapus item menggunakan method clear()
thisdict = {'hobby': 'masak', 'umur': 20, 'Anak ke': 1}
thisdict.clear()

print(thisdict)

{}

## Menyalin Dictionary

Untuk menyalin dictionary, kita dapat menggunakan method copy().

In [ ]:
#Menggunakan method copy()
thisdict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
mydict=thisdict.copy()

print(mydict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

Yuk coba salin dictionary yang telah kalian buat tadi, biar bisa diotak atik lagi xixixi

In [90]:
#Menyalin dictionary
#Menggunakan method copy()
thisdict = {'Nama': 'Lindut', 'hobby': 'masak', 'alasan': 'suka aja'}
mydict=thisdict.copy()

print(mydict)

{'Nama': 'Lindut', 'hobby': 'masak', 'alasan': 'suka aja'}

## Nested Dictionary
Nested Dictionary atau kamus bertingkat merupakan suatu kamus yang mana kamus tersebut bisa diisi dengan satu atau lebih kamus di dalamnya.

Kita akan membuat sebuah contoh Kamus yang memuat 3 kamus di dalamnya

In [ ]:
Keluarga_afif={
    "anak1":{
        "nama":"dera",
        "Tanggal Lahir": 19012000
    },
    "anak2":{
        "nama":"Joko",
        "Tanggal Lahir": 17091997 
    },
    "anak3":{
        "nama":"Asih",
        "Tanggal Lahir": 20022000
    }
}

print(Keluarga_afif)

{'anak1': {'nama': 'dera', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [91]:
Makanan_Favorite={
    "ayah":{
        "Makan":"Gulai Ikan",
        "Minum":"Air Putih"
    },
    "Ibu":{
        "Makan":"Pempek",
        "Minum":"Bubble"
    },
    "Lina":{
        "Makan":"Nasi Padang",
        "Minum":"Bubble"
    }
}

print(Makanan_Favorite)

{'ayah': {'Makan': 'Gulai Ikan', 'Minum': 'Air Putih'}, 'Ibu': {'Makan': 'Pempek', 'Minum': 'Bubble'}, 'Lina': {'Makan': 'Nasi Padang', 'Minum': 'Bubble'}}

Kita akan membuat suatu Kamus yang akan berisi 3 kamus lainnya

In [ ]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [92]:
Sayur={"Warna Orange":"Wortel","Rasa":"B Aja"}
Buah={"Warna Merah":"Apel","Rasa":"Manis"}
Snack={"Warna Ungu":"Wallens","Rasa":"Mangtab"}

Makanan={"Sayur":Sayur,"Buah":Buah,"Snack":Snack}
print(Makanan)

{'Sayur': {'Warna Orange': 'Wortel', 'Rasa': 'B Aja'}, 'Buah': {'Warna Merah': 'Apel', 'Rasa': 'Manis'}, 'Snack': {'Warna Ungu': 'Wallens', 'Rasa': 'Mangtab'}}

Atau kita juga dapat menggunakan fungsi dict() untuk membuat kamus yang baru

In [ ]:
Indoapril=dict(barang='Minuman',merek='BearBrand',harga=7000)
#Perlu di perhatikan  bahwa dalam fungsi dict() kita tidak lagi memakai kolon (:) tetapi menggunakan sama dengan (=)
print(Indoapril)

TypeError: ignored

Paham belum nih tentang materi nested dictionary, coba sekarang kalian buat dan pahami, nanti pasti paham kalo udah nyoba ;)

In [98]:
#Nested dictionary
Makanan_Favorite={
    "ayah":{
        "Makan":"Gulai Ikan",
        "Minum":"Air Putih"
    },
    "Ibu":{
        "Makan":"Pempek",
        "Minum":"Bubble"
    },
    "Lina":{
        "Makan":"Nasi Padang",
        "Minum":"Bubble"
    }
}

print(Makanan_Favorite)

{'ayah': {'Makan': 'Gulai Ikan', 'Minum': 'Air Putih'}, 'Ibu': {'Makan': 'Pempek', 'Minum': 'Bubble'}, 'Lina': {'Makan': 'Nasi Padang', 'Minum': 'Bubble'}}

In [99]:
anak1={"nama":"Rikma","Tanggal Lahir":19012000}
anak2={"nama":"Joko","Tanggal Lahir":17091997}
anak3={"nama":"Asih","Tanggal Lahir":20022000}

Keluarga_afif={"anak1":anak1,"anak2":anak2,"anak3":anak3}
print(Keluarga_afif)

{'anak1': {'nama': 'Rikma', 'Tanggal Lahir': 19012000}, 'anak2': {'nama': 'Joko', 'Tanggal Lahir': 17091997}, 'anak3': {'nama': 'Asih', 'Tanggal Lahir': 20022000}}

In [100]:
Sayur={"Warna Orange":"Wortel","Rasa":"B Aja"}
Buah={"Warna Merah":"Apel","Rasa":"Manis"}
Snack={"Warna Ungu":"Wallens","Rasa":"Mangtab"}

Makanan={"Sayur":Sayur,"Buah":Buah,"Snack":Snack}
print(Makanan)

{'Sayur': {'Warna Orange': 'Wortel', 'Rasa': 'B Aja'}, 'Buah': {'Warna Merah': 'Apel', 'Rasa': 'Manis'}, 'Snack': {'Warna Ungu': 'Wallens', 'Rasa': 'Mangtab'}}



---


#**Berbagai Method untuk Dictionary**

---

- clear() : Menghapus semua elemen dictionary
- copy() : Mengembalikan salinan dictionary
- fromkeys() : Buat Dictionary baru dengan kunci dari seq dan nilai yang disetel ke nilai.
- get() : Mengembalikan nilai dari kunci yang ditentukan
- items() : Mengembalikan daftar dari pasangan tuple dictionary (key, value)
- keys() : Mengembalikan daftar key dictionary
- pop() : Menghapus item kunci yang disebutkan
- popitem() : Menghapus item yang terakhir dimasukkan
- setdefault() : Mengembalikan nilai dari kunci yang ditentukan. Jika kunci tidak ada: masukkan kunci dengan nilai yang ditentukan
- update() : Menambah pasangan kunci yang diinginkan
- values() : Mengembalikan daftar nilai dictionary

## Clear()
Untuk menghapus semua item/elemen yang termuat didalam dictionary, gunakan fungsi **clear()**

dictionary.clear

print(dictionary)

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
dict.clear()
print(dict)

{}

In [101]:
dict= {'Nama' : 'Lina' , 'Hobby' : 'Masak' , 'Umur' : 20 , 1800015002 : 'NIM'}
dict.clear()
print(dict)

{}

## Copy()
Untuk mengcopy/menyalin item didalam dictionary, bisa digunakan fungsi **copy()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
C=dict.copy()
print(C)

{'Universitas': 'UAD', 'Prodi': 'Matematika', 'Tahun': 2018, 1800015065: 'NIM'}

In [102]:
dict= {'Nama' : 'Lina' , 'Hobby' : 'Masak' , 'Hobby lainnya' : 'menyayangi kamu'}
C=dict.copy()
print(C)

{'Nama': 'Lina', 'Hobby': 'Masak', 'Hobby lainnya': 'menyayangi kamu'}

##Fromkeys()
Untuk menyalin elemen di dalam dictionary, namun dengan kunci(key) dan nilai(value) tertentu, dapat menggunakan fungsi **fromkeys()**

In [ ]:
dict= {'Universitas' : 'UAD' , 'Prodi' : 'Matematika' , 'Tahun' : 2018 , 1800015065 : 'NIM'}
x = ('Universitas', 'Prodi')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'Universitas': 0, 'Prodi': 0}

In [103]:
dict= {'Namaku' : 'Lina' , 'Hobbyku' : 'Mencintai Kamu' , 'Umur' : 20 , 1800015002 : 'NIM'}
l = ('Namaku', 'Hobbyku')
g = 2

thisdict = dict.fromkeys(l, g)

print(thisdict)

{'Namaku': 2, 'Hobbyku': 2}

## Get()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get('model'))

Mustang

In [104]:
sayang =	{
  "i": "aku",
  "luv": "cinthaw",
  "u": "kamu"
}

print(sayang.get('luv'))

cinthaw

##Items()

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [105]:
sayang =	{
  "i": "aku",
  "luv": "cinthaw",
  "u": "kamu"
}

print(sayang.items())

dict_items([('i', 'aku'), ('luv', 'cinthaw'), ('u', 'kamu')])

##Pop()

Menghapus item kunci sekaligus value yang disebutkan,mari kita lihat contohnya dibawah ini

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
indoapril.pop('Barang')
print(indoapril)

{'Merek': 'Bandai', 'Jumlah': 200}

In [106]:
warung={'snack':'taro','rasa':'micin','harga':2000000000}
warung.pop('snack')
print(warung)

{'rasa': 'micin', 'harga': 2000000000}

## Popitem()

Menghapus item yang terakhir dimasukkan

In [ ]:
#Kita akan menghilangkan pelakor dalam "kehidupan_keluarga"
kehidupan_keluarga={'suami':'Budi','istri':'Dewi','pelakor':'Sari'}
kehidupan_keluarga.popitem()
print(kehidupan_keluarga)

{'suami': 'Budi', 'istri': 'Dewi'}

In [107]:
#Kita akan menghilangkan penikung dalam "nikung_berkedok_nyomblangin_hehehe"
nikung_berkedok_nyomblangin_hehehe={'cowok':'Sianeh','cewek':'Sicantik','penikung':'Sicantikpolllllhuft'}
nikung_berkedok_nyomblangin_hehehe.popitem()
print(nikung_berkedok_nyomblangin_hehehe)

{'cowok': 'Sianeh', 'cewek': 'Sicantik'}

## Update()

Menambahkan pasangan kunci yang diinginkan

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':2000}
indoapril.update({'Tanggal_Masuk': 12022020})
print(indoapril)

{'Barang': 'Gundam', 'Merek': 'Bandai', 'Jumlah': 2000, 'Tanggal_Masuk': 12022020}

In [108]:
toko={'snack':'popcorn','rasa':'teri','harga':2000000000}
toko.update({'Tanggal_Exp': 121222})
print(toko)

{'snack': 'popcorn', 'rasa': 'teri', 'harga': 2000000000, 'Tanggal_Exp': 121222}

## Values()

Mengembalikan daftar nilai pada dictionary

In [ ]:
indoapril={'Barang':'Gundam','Merek':'Bandai','Jumlah':200}
a=indoapril.values()
print(a)

dict_values(['Gundam', 'Bandai', 200])

In [109]:
toko={'Roti':'SariRoti','Rasanya':'Ah Mantan, eh typo mantab makhsutnya','Harga':2000000000}
l=toko.values()
print(l)

dict_values(['SariRoti', 'Ah Mantan, eh typo mantab makhsutnya', 2000000000])

## len()

Method len digunakan untuk mengetahui banyaknya item yang ada pada directory

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(car))

3

In [110]:
Buah =	{
  "Vitamin C1": "Jeruk Bali",
  "Vitamin C2": "Jeruk Sunkiss",
  "Vitamin C3": "Jeruk Lemon"
}

print(len(Buah))

3

#The End Of Notebook

Alhamdulillah